/***** user variables *****/

$textSize1: 21px;
$textSize2: 18px;
$textSize3: 15px;

$lineHeight1: 32px;
$lineHeight2: 28px;
$lineHeight3: 23px;

$titleSize1: 40px;
$titleSize2: 34px;
$titleSize3: 28px;
$titleSize4: 22px;

$textColor1: #000;
$textColor2: #fff;

$titleColor1: #000;
$titleColor2: #fff;
$titleColor3: #bb2205;
$titleColor4: #009688;
$titleColor5: #f5b60a;
$titleColor6: #0e9aa7;

$bgColor1: #000;
$bgColor2: #fff;
$bgColor3: #0f3460;

@mixin center-ic($flex, $align, $justify) {
  display: $flex;
  justify-content: $justify;
  align-items: $align;
}

/***** calc *****/
.calculator {
  display: flex;
  justify-content: space-around;
  padding: 2vw;
  border: solid 0.2vw $textColor1;
  border-radius: 5px;
}

.columnOne {
  display: flex;
  flex-direction: column;

  select {
    margin: 5px;
    padding: 5px;
    font-size: $textSize2;
  }
}

.columnTwo {
  div {
    min-width: 200px;
    height: 100%;
    border-radius: 5px;
    background-color: $titleColor6;
    font-size: 100px;

    @include center-ic(flex, center, center);
  }
}

.warning {
  margin-top: 50px;
  padding: 30px;
  border-radius: 5px;
  background-color: $titleColor3;
  color: $textColor2;
}
